.archivo {
    background-image: url(../img/fondo420.jpg);
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.archivo:hover {
	color: #B9E28C;
}
.card {
    border: none;
}
p {
    color: black;
}
.responsive {
	width: 100%;
	height: auto;
}